<!-- header with a dropdown menu and login -->
<header class="siteheader">
  <div class="siteheaderContainer">

    <div id="site-logo"><a href="/" id="site-logo">Learn Local</a></div>
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Browse
      </a>

      <div class="dropdown-content">
        {{#each categories}}
        <a href="/learn/{{url}}">
          <h5 style="color: #007B89">{{text}}</h5>
        </a>
        {{/each}}
      </div>
    </div>

    <!-- Login  -->
    <button class="sign" onclick="document.getElementById('id01').style.display='block'"
      style="width:auto;">Login</button>

    <div id="id01" class="modal">

      <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close"
            title="Close Modal">&times;</span>
          <img src="../images/login.png" alt="Avatar" class="avatar">
        </div>

        <div class="login-container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <button class="login-button" type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>

        <div class="login-container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'"
            class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>
  </div>
</header>

<!-- main section of the page -->

<div class="container">

  <h1>Teach!</h1>
  <hr>
  <h2> Host a class for your neighbors.</h2>
  <div class="AppDescriptionContainer">
    <p>Fill out the form for the class you&rsquo;d like to teach.
    </p>
  </div>
  <div class="teachForm">
    <!-- https://getbootstrap.com/docs/4.0/components/forms/ -->
    <!-- https://getbootstrap.com/docs/4.3/components/forms/ -->
    <form id="addClass">
      <div class="form-group">
        <label for="teachersName">Teachers&rsquo;s name</label>
        <textarea class="form-control" id="teachersName" rows="1"></textarea>
      </div>
      <div class="form-group">
        <label for="eventname">Event Name</label>
        <textarea class="form-control" id="eventName" rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="categorySelect">Select a category for your class type</label>
        <select class="form-control" id="categorySelect">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
        <label for="location">Location address:</label>
        <textarea class="form-control" id="location" rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="location">Date:</label>
        <textarea class="form-control" id="date" rows="1"></textarea>
      </div>
      <div class="form-group">
        <label for="location">Time:</label>
        <textarea class="form-control" id="time" rows="1"></textarea>
      </div>
      <div class="form-group">
        <label for="location">Description:</label>
        <textarea class="form-control" id="description" rows="8"></textarea>
      </div>

      <button type="submit" class="btn btn-success addClassbtn">Add Class</button>
    </form>
  </div>
  <hr>

  <h2>The classes you are currently hosting:</h2>
  <div class="classesListedUnderTeacher">
    <p>See who&rsquo;s signed up for your classes. Make updates to or delete your classes.</p>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <ul id="allClassesTaughtByTeacher" class="list-group">
              <div class="classContainer" id="class-container">

            </ul>
          </div>
        </div>
      </div>
    </div>

   

    <hr>

    <div class="" align="center">

      {{> classbtns}}
    </div>

    <div class="classCategoriesContainer">

    </div>
  </div>

</div>
<script>
  
</script>