body {
  background-color: #007B89;
}

h1 {
  color: #E4B320;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4), 0 0 15px rgba(255,255,255,0.4);
  font-size: 80px;
}

.class-title {
  color: #E4B320;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4), 0 0 15px rgba(255,255,255,0.4);
  font-size: 80px;
}

h2 {
   color: #DA7A22;
   text-align: center;
   font-family: 'Great Vibes', cursive;
   font-size: 40px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.card {
  background-color: transparent;
  background-clip: none;
  border: none;
}

p {
   color: #CECDC9;
   font-family: 'Lustria', serif;
   font-size: 17px;
   text-align: center;
}

.teachButton, .signUpButton, .updateButton {
  background-color: #E4B320;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.categoryButton, .deleteButton {
  background-color: #DA7A22;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom:20px;
  margin-left: 5px;
  margin-right: 5px;
}

.mainImageContainer {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* .AppDescriptionContainer {
  background:url('https://via.placeholder.com/1980x800') no-repeat center center fixed ;
  min-width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover
} */

.fourOhFour a {
  color: rgb(73, 105, 109);
  font-family: 'Lustria', serif;
  font-size: 17px;
}
.AppDescriptionContainer p {
  text-align: center;
}

.AppDescriptionContainer strong, .selectedCategory {
  color: #E4B320;
  font-family: 'Fredericka the Great', cursive;
}

.teachButtonContainer, .classCategoriesContainer {
  text-align: center;
}

#selectedCategoryResults h1, #allClassesTaughtByTeacher h1 {
  font-size: 40px;
  text-shadow: none;
}

#selectedCategoryResults {
  text-align: left;
  
}

.ClassInSelectedCategory, .ClassWithThisTeacher {
  margin: 10px;
  padding-top:10px;
  padding-bottom: 10px;
  background-color: rgb(73, 105, 109);
  border-radius: 25px;
  list-style: none; 
}

.ClassInSelectedCategory p, .ClassWithThisTeacher p {
  color: white;
  text-align:left;
  padding-left:60px;
  padding-right: 60px;
}

.ClassInSelectedCategory .signUpButton {
  margin-bottom: 30px;
}

.ClassInSelectedCategory strong, .ClassWithThisTeacher strong {
  color: #DA7A22;
  font-family: 'Great Vibes', cursive;
  font-size: 25px;
}

#allClassesTaughtByTeacher h3 {
  color: #E4B320;
  font-family: 'Fredericka the Great', cursive;
  padding-left: 60px;
}

#allClassesTaughtByTeacher ol {
  color: white;
  padding-left: 80px;
  font-family: 'Lustria', serif;
  font-size: 17px;
  padding-bottom: 30px;
}

.updateButton, .deleteButton {
  margin-bottom: 10px;
}

.modal-title {
  font-size: 40px;
  color: #E4B320;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
}

.modal-body {
  background-color: #007B89;
}

form label {
  font-family: 'Lustria', serif;
  font-size: 17px;
  color: #CECDC9;
}

.form-control {
  font-family: 'Lustria', serif;
}

/* header  */
.siteheader {
  position: fixed;
  width: 100%;
  margin: 0 0 30px;
  padding: 10px 50px 10px 50px;
  color: #ffffff;
  background: rgba(255,255,255,0.4);
  z-index: 100;
}

.siteheaderContainer {
  font-family: 'Lustria', serif;
}

#site-logo {
  color: #E4B320;
  font-size: 20px;
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4), 0 0 15px rgba(255,255,255,0.4);
  float: left;
  margin-top: 3px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.dropdown #dropdownMenuLink {
  font-size: 17px;
  color:#DA7A22;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4), 0 0 15px rgba(255,255,255,0.4);
  margin-top: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0px 0px 5px 5px

}

.dropdown-content a {
  color: rgb(73, 105, 109);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* login button */
.sign {
  float: right;
  background-color:#f9f9f9;
  color: #DA7A22;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.login-button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login-button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 30%;
}

.login-container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.login-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.login-modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* main section */
.container {
  padding-top: 50px;
}