.list-group-item {
  line-height: 2.5;
}

body {
  background-color: #007B89;
}

h1 {
  color: #E4B320;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4), 0 0 15px rgba(255,255,255,0.4);
  font-size: 80px;
}

h2 {
   color: #DA7A22;
   text-align: center;
   font-family: 'Great Vibes', cursive;
   font-size: 40px;
}

p {
   color: #CECDC9;
   font-family: 'Lustria', serif;
   font-size: 17px;
   text-align: center;
}

.teachButton {
  background-color: #E4B320;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.categoryButton {
  background-color: #DA7A22;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.mainImageContainer {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* .AppDescriptionContainer {
  background:url('https://via.placeholder.com/1980x800') no-repeat center center fixed ;
  min-width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover
} */

.AppDescriptionContainer p {
  text-align: center;
}

.AppDescriptionContainer strong, .selectedCategory {
  color: #E4B320;
  font-family: 'Fredericka the Great', cursive;
}

.teachButtonContainer, .classCategoriesContainer {
  text-align: center;
}

#selectedCategoryResults h1 {
  font-size: 40px;
  text-shadow: none;
}

#selectedCategoryResults {
  text-align: left;
}

.ClassInSelectedCategory {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top:10px;
  padding-bottom: 10px;
  background-color: rgb(73, 105, 109);
}

.ClassInSelectedCategory p {
  color: white;
}

.ClassInSelectedCategory strong {
  color: #DA7A22;
  font-family: 'Great Vibes', cursive;
  font-size: 25px;
}